.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.company-name{
  margin-top: 1.4%;
  margin-bottom: 1.4%;
  font-family: 'Jacques Francois Shadow', cursive;
  float: left;
  font-size: 200%;
}
.nav-container{
  background-color: blue;
  height: 7%;
  position: fixed;
  top: 0px;
  width: 100vw;
}

.ui.red.button.login{
  float:right;
  margin-top: 1%;
  margin-bottom: 1%;
}

.ui.input {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 40%;
}

.dollar.sign.icon{
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  float:left;
}

.ui.blue.button{
  width: 5% !important;
  float:right;
  margin-top: 1%;
  margin-bottom: 1%;
}

.ui.yellow.button{
  /* width: 5% !important; */
  float:right;
  margin-top: 1%;
  margin-bottom: 1%;
}

.ui.green.button{
  /* width: 7% !important; */
  float:right;
  margin-top: 1%;
  margin-bottom: 1%;
}

.ui.button:not(.icon)>.icon:not(.button):not(.dropdown){
  margin: 0 !important;
}

.tile-container {
  margin-top: 7%;
}
